<div class="row">

								<div class="col-lg-12">
									<div class="card mb-3">
										<div class="card-header">
											<h3></i>Edycja cen paliw</h3>

										</div>

										<div class="card-body">

											<table class="table table-responsive-xl">
											  <thead>
												<tr>
												  <th>Rodzaj paliwa</th>
							                      <th>Aktualna cena</th>
							                      <th>Nowa cena</th>
												</tr>
											  </thead>
											  <tbody>
							                    <tr>
							                      <td>Paliwo PB95</td>
							                      <td>4,50</td>   <!--Tu loadFromBase(price) -->
							                      <td><input type="text" class="form-control" id="pricePB95" placeholder="Wprowadz nową cene"></td>
							                    </tr>
							                    <tr>
							                      <td>Paliwo PB98</td>
							                      <td>4,50</td>   <!--Tu loadFromBase(price) -->
							                      <td><input type="text" class="form-control" id="pricePB95" placeholder="Wprowadz nową cene"></td>
							                    </tr>
							                    <tr>
							                      <td>ON</td>
							                      <td>4,50</td>   <!--Tu loadFromBase(price) -->
							                      <td><input type="text" class="form-control" id="pricePB95" placeholder="Wprowadz nową cene"></td>
							                    </tr>
							                    <tr>
							                      <td>ON Platinum</td>
							                      <td>4,50</td>   <!--Tu loadFromBase(price) -->
							                      <td><input type="text" class="form-control" id="pricePB95" placeholder="Wprowadz nową cene"></td>
							                    </tr>
							                    <tr>
							                      <td>LPG</td>
							                      <td>4,50</td>   <!--Tu loadFromBase(price) -->
							                      <td><input type="text" class="form-control" id="pricePB95" placeholder="Wprowadz nową cene"></td>
							                    </tr>
							                  </tbody>
											</table>

										</div>
										 <button type="submit" class="btn btn-dark float-left">Zatwierdź.</button>
									</div><!-- end card-->
								</div>