<div class="row">

        <div class="col-lg-8 offset-lg-2">
            <div class="card mb-3">
                <div class="card-header">
                    <h3><i class="fas fa-car-side"></i> Rezerwacja myjni</h3>

                </div>

                <div class="card-body">

                            <form action="#" data-parsley-validate novalidate>
                                        <div class="form-group">
                                            <label for="userName">Imię i naziwsko<span class="text-danger">*</span></label>
                                            <input type="text" name="nick" data-parsley-trigger="change" required placeholder="Wprowadz użytkownika" class="form-control" id="userName">
                                        </div>

                                        <div class="form-group">
                                            <label for="emailAddress">E-mail<span class="text-danger">*</span></label>
                                            <input type="email" name="email" data-parsley-trigger="change" required placeholder="Wprowadź e-mail" class="form-control" id="emailAddress">
                                        </div>
                                        <div class="form-group">
                                            <label for="userPhone">Telefon</label>
                                            <input type="number" name="phone" data-parsley-trigger="change"  placeholder="Wprowadź telefon" class="form-control" id="userPhone">
                                        </div>
                                       <div class="form-group">
                                            <label for="userDate">Data<span class="text-danger">*</span></label>
                                            <input type="text" name="date" data-parsley-trigger="change" required" class="form-control" id="userDate">
                                        </div>


                                        <div class="form-group text-right m-b-0">
                                            <button class="btn btn-primary" type="submit">
                                                Zatwierdź
                                            </button>
                                        </div>

                                                                    </form>

                </div>
            </div><!-- end card-->
        </div>
</div>



<script>
$(function() {
moment.locale('pl');
var not_availabe_therms = [
'15.04.2019 14:40'
];
$('input[name="date"]').daterangepicker({
"timePicker": true,
"timePickerIncrement": 10,

singleDatePicker: true,
showDropdowns: true,
timePicker24Hour: true,
autoApply: true,
autoUpdateInput: true,
startDate: moment().startOf('hour'),
minDate:  moment().startOf('hour'),
drops: 'up',
locale: {
 format: "DD.MM.YYYY, g. HH:mm"
},
"isInvalidDate" : function(date){
for(var ii = 0; ii < not_availabe_therms.length; ii++){
if (date.format('DD.MM.YYYY HH:mm') == not_availabe_therms[ii]){
return true;

}

}
}

});
});
</script>