

<div class="row">
					<div class="col-xl-12">
						<div class="breadcrumb-holder">
							<h1 class="main-title float-left">Users</h1>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
				<!-- end row -->



						<div class="row">

							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

								<div class="card mb-3">

									<div class="card-header">
										<span class="pull-right"><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_add_user"><i class="fa fa-user-plus" aria-hidden="true"></i> Dodaj pracownika</button></span>
										<div class="modal fade custom-modal" tabindex="-1" role="dialog" aria-labelledby="modal_add_user" aria-hidden="true" id="modal_add_user">
											<div class="modal-dialog">
												<!--add user modal -->
												<div class="modal-content">

													<form action="#" method="post" enctype="multipart/form-data">


													<div class="modal-header">
													<h5 class="modal-title">Dodaj pracownika</h5>
													<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
													</div>

													<div class="modal-body">

														<div class="row">
															<div class="col-lg-6">
															<div class="form-group">
															<label>Imię*</label>
															<input class="form-control" name="name" type="text" required />
															</div>
															</div>
															<div class="col-lg-6">
															<div class="form-group">
															<label>Nazwisko*</label>
															<input class="form-control" name="lname" type="text" required />
															</div>
															</div>
														</div>
														<div class="row">
															<div class="col-lg-12">
															<div class="form-group">
															<label>PESEL*</label>
															<input class="form-control" name="email" type="number" required />
															</div>
															</div>
														</div>
														<div class="row">
															<div class="col-lg-6">
															<div class="form-group">
															<label>E-mail*</label>
															<input class="form-control" name="email" type="email" required />
															</div>
															</div>

															<div class="col-lg-6">
															<div class="form-group">
															<label>Hasło*</label>
															<input class="form-control" name="password" type="text" required />
															</div>
															</div>
														</div>

														<div class="row">

															<div class="col-lg-12">
															<div class="form-group">
															<label>Rola</label>
															<select name="role_id" class="form-control" required>
															<option value="">- Wybierz-</option>
																					<option value="1">Kierownik</option>
																					<option value="2">Wyk. pracownik</option>
																					<option value="3">Kasjer</option>

															</select>
															</div>
															</div>


														</div>
														<div class="form-group">
														<label>Avatar image (optional):</label> <br />
														<input type="file" name="image">
														</div>

													</div>

													<div class="modal-footer">
														<button type="button" class="btn btn-primary">Add user</button>
													</div>

													</form>

												</div> <!-- end add user modal-->
											</div>
										</div> <!--modal fad-custom-->
										<h3><i class="fa fa-user"></i> Lista pracowników</h3>
									</div>
									<!-- end card-header -->

									<div class="card-body">


											<div class="table-responsive">
											<table class="table table-bordered">
											<thead>
											<tr>
												<th style="width:50px">ID</th>
												<th>Dane pracownika</th>
												<th style="width:130px">Stanowisko</th>
												<th style="width:150px">Akcje</th>
											  </tr>
											</thead>
											<tbody>
											<tr >
													<th>5</th>
													<td>
														<span style="float: left; margin-right:10px;"><img alt="image" style="max-width:40px; height:auto;" src="assets/images/avatars/avatar1.png" /></span>
														<strong>Test test</strong><br />
														<small>test test</small>
													</td>
													<td>Kasjer</td>
													<!--Edit and remove -->
													<!--Here you should import data from SQL or other
													Remove: for example deleteRecord(ID_here)
													Edit worker:  all in div.modal-dialog  (6 lines below)
													-->
													<td>
														<a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_edit_user_5"><i class="fas fa-edit" aria-hidden="true"></i></a>
														<a href="javascript:deleteRecord('5');" class="btn btn-danger btn-sm" data-placement="top" data-toggle="tooltip" data-title="Delete"><i class="fas fa-trash" aria-hidden="true"></i></a>
														<div class="modal fade custom-modal" tabindex="-1" role="dialog" aria-hidden="true" id="modal_edit_user_5">
														<div class="modal-dialog">
															<div class="modal-content">

																<form action="#" method="post" enctype="multipart/form-data">


																<div class="modal-header">
																<h5 class="modal-title">Edytuj</h5>
																<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
																</div>

																<div class="modal-body">

																	<div class="row">
																		<div class="col-lg-6">
																		<div class="form-group">
																		<label>Imię*</label>
																		<input class="form-control" name="name" type="text" value="test" required />
																		</div>
																		</div>
																		<div class="col-lg-6">
																		<div class="form-group">
																		<label>Nazwisko*</label>
																		<input class="form-control" name="lname" type="text" value="test" required />
																		</div>
																		</div>
																	</div>
																	<div class="row">
																		<div class="col-lg-12">
																		<div class="form-group">
																		<label>PESEL*</label>
																		<input class="form-control" name="email" type="number" value="96010112345" required />
																		</div>
																		</div>
																	</div>
																	<div class="row">
																		<div class="col-lg-6">
																		<div class="form-group">
																		<label>E-mail*</label>
																		<input class="form-control" name="email" type="email" value="test@test.pl" required />
																		</div>
																		</div>

																		<div class="col-lg-6">
																		<div class="form-group">
																		<label>Hasło*</label>
																		<input class="form-control" name="password" type="text" value="test" required />
																		</div>
																		</div>
																	</div>

																	<div class="row">

																		<div class="col-lg-12">
																		<div class="form-group">
																		<label>Rola</label>
																		<select name="role_id" class="form-control" required>
																		<option value="">- Wybierz-</option>
																								<option value="1">Kierownik</option>
																								<option value="2">Wyk. pracownik</option>
																								<option selected="selected" value="3">Kasjer</option>

																		</select>
																		</div>
																		</div>


																	</div>
																	<div class="form-group">
																	<label>Avatar (opcjonalnie)</label> <br />
																	<input type="file" name="image">
																	</div>

																</div>

																<div class="modal-footer">
																	<input type="hidden" name="user_id" value="5" />
																	<button type="button" class="btn btn-primary">Edytuj</button>
																</div>

																</form>

															</div>
														</div>
													</td>
													<!--end edit and remove-->
											</tr>
											</tbody>
											</table>
											</div>


									</div>
									<!-- end card-body -->

								</div>
								<!-- end card -->

							</div>
							<!-- end col -->

						</div>
						<!-- end row -->

<script>
		function deleteRecord(RecordId)
		{
			if (confirm('Confirm delete')) {
				window.location.href = '#';
			}
		}
</script>

